@import '~antd/dist/antd.css';

#root {
  height: auto;
}

.ant-layout {
  flex: 1 0 auto;
}

.ant-layout-header {
  padding-left: 0;
}

.logo {
  float: left;
  width: 200px;
  height: 64px; 
  background: url('../public/img/gdut_logo2.jpg') center no-repeat; 
  background-size: 180px 40px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}